/* Variables globales */
:root {
  font-size: 24px !important;
  font-family: 'Courier New', Courier, monospace;
  --color-uno: #0e830e;
  --color-dos: #82ce0e;
  --color-tres: #60b00a;
  --color-cuatro: #000000;
  --color-cinco: #ffffff;
}

/* Estilos base */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

/* Utilidades y personalización */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5px;
  height: 0.5rem;
}

/* Personaliza la "pista" de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: var(--color-tres);
  border-radius: 10px;
}

/* Personaliza el "pulgar" de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: var(--color-cuatro);
  border-radius: 0.4rem;
}

/* Personaliza el "pulgar" cuando se desplaza */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-cinco);
}