:root {
  font-size: 24px !important;
  font-family: 'Courier New', Courier, monospace;
  --color-uno: #0e830e;
  --color-dos:  #82ce0e;
  --color-tres: #60b00a;
  --color-cuatro: #000000;
  --color-cinco: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#crear-certificado {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-cuatro);
}

#form-certificado {
  /* width: 20rem; */
  color: var(--color-cuatro);
  background-color: var(--color-tres);
  padding: 1rem;
  padding-right: 4rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#contenedor-form {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0.3rem;
  font-weight: bolder;
  /* padding-top: 0.5rem; */
  
}

#input-form {
  width: 12rem;
  height: 1.2rem;
  text-align: start;
  font-size: 1rem;
}

#boton-form {
  margin-top: 1rem;
  
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: var(--color-cuatro);
  color: var(--color-cinco);
  font-size: 1.3rem;
}
#boton-form:hover {
  background-color: var(--color-uno);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}